.App-header {
  background-color: #ffe5d0;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.initial-screen {
  overflow        : auto;
  width           : 30vw;
  height          : 75vh;
  background-color: #ffffff;
  border-radius   : 5px;
  border          : 4px solid #CEEDC7;
}

.add-button {
  background      : none;
  font            : menu;
  border          : none;
  padding         : 6px 15px 6px 15px;
  cursor          : pointer;
  background-color: #CEEDC7;
}

.button-hover:hover {
  transition      : 1s;
  background-color: #86C8BC;
}

.textfield-first {
  width        : 300px;
  height       : 100%;
  border       : none;
  border-bottom: 2px solid #CEEDC7;
  outline      : 0;

}

.content-insert__itens {
  border-radius  : 10px;
  display        : flex;
  justify-content: space-between;
  width          : 94%;
  height         : 45px;
  border         : 2px solid #CEEDC7;
  color          : black;
  margin-bottom  : 10px;
}

.content-insert__itens:hover {
  border: 2px solid #86C8BC;
}

.content-insert__itens--buton_icon {
  width          : 60px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.textfield--label__style {
  color     : black;
  position  : absolute;
  bottom    : 9px;
  left      : 0px;
  font-size : 15px;
  transition: 1s;
}

.textfield-first:focus {
  border       : 0;
  border-bottom: 2px solid #86C8BC
}

.textfield-first:focus~.textfield--label__style {
  color    : #86C8BC;
  transform: translateY(-20px);
  font-size: 15px;
}

.button-icon__style {
  color        : #8a8787;
  border-radius: 50%;
  cursor       : pointer;
}

.button-icon__style:hover {
  color: #86C8BC;
}

.containter-insert__itens {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding        : 10px;
  margin-top     : 10px;
}

.textfield--container {
  position: relative;

}

.modal-overlay {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color: rgba(0, 0, 0, 0.3);
  display         : flex;
  align-items     : center;
  justify-content : center;
  opacity         : 0;
  visibility      : hidden;
  transition      : opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.modal-overlay.open {
  opacity   : 1;
  visibility: visible;
}

.modal {
  background-color: white;
  padding         : 20px;
  border-radius   : 5px;
}